body {
    background-color: rgba(238, 255, 0, 0.5);
}
h1 {
    color: tomato;
    font-size: 72px;
}

p {
    color: royalblue;
    font-style:italic;
    font-weight: bolder;
}

ul, ol {
    font-size: 24px;
}

img {
    width: auto;
    height: 450px;
}